/* display loading gif and hide webpage */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8)
    url("https://i.stack.imgur.com/FhHRx.gif") 50% 50% no-repeat;
}

/* prevent scrollbar from display during load */
body.loading {
  overflow: hidden;
}

/* display the modal when loading class is added to body */
body.loading .modal {
  display: block;
}

/* max size images */

.container {
  display: flex;
  flex-direction: column;
}

.container input,
.container img,
.container canvas {
  margin: 1rem;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
}

/* .table */
.table.table--hidden {
  display: none;
}

.table {
  width: 100%;
  max-width: 480px;
  margin-bottom: 0;
}

.table caption {
  text-align: left;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #ddd;
}

.table th,
.table td {
  padding: 4px 5px;
}

@media (max-width: 480px) {
  tr {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ddd;
    margin: 8px auto 0;
    padding: 8px 0 0;
  }

  thead tr {
    border-top: none;
    padding: 0;
  }

  th,
  td {
    box-sizing: border-box;
    border-top: none;
    padding: 2px 8px;
    width: 100% !important;
  }
}

.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
